$title-font: 32px;
$sevice-name-font: 22px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
  position: absolute;
  z-index: 10;
  a {
    svg {
      width: 90px;
      height: 16px;
    }
  }

  div.icon {
    i {
      font-size: 20px;
      font-weight: 600;
      padding-left: 0.5rem;
    }
  }
}

div.main {
  width: 100%;
  height: 100vh;
  display: flex;
  div.left {
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 5;
    h2 {
      font-size: 24px;
      font-weight: 500;
      margin: 0 1.5rem;
      white-space: nowrap;
      position: absolute;
      top: 40%;
    }
  }

  div.right {
    width: 80%;
    height: 100%;
    background: url(../images/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: absolute;
    right: 0;
    z-index: 2;
  }
}

div.news {
  width: 100%;
  height: 60%;
  background-color: rgb(229, 229, 229);
  position: relative;
  padding: 1.5rem;
  padding-top: 8rem;
  margin-top: -4rem;
  div.news-column {
    .news-link {
      padding: 1.5rem 0rem;
      border-bottom: 1px solid#343436;
      p {
        font-size: 13px;
        color: #7f8b96;
      }

      a {
        font-size: 13px;
        font-weight: 200;
        color: #343436;
        text-decoration: none;
      }
    }
  }

  div.more {
    margin-top: 1.5rem;
  }
}

section.about {
  background-color: #2b2b2b;
  padding: 3rem 1rem;
  div.content {
    h2 {
      color: #f8f8fa;
      font-size: 32px;
      font-weight: 400;
      margin-bottom: 2rem;
    }

    h3 {
      color: #f8f8fa;
      font-size: 24px;
      margin: -5px;
      font-weight: 500;
    }

    h4 {
      color: #f8f8fa;
      font-size: 16px;
      margin-bottom: 1rem;
      font-weight: 500;
    }

    p {
      color: #f8f8fa;
      // font-size: 14px;
      // font-weight: 300;
    }

    div.more {
      a {
        color: #f8f8fa;
        background-color: #2b2b2b;
        border-color: #f8f8fa;
        margin-top: 1.5rem;
      }
    }
  }
}

section.service {
  width: 100%;
  background-color: white;
  padding: 1rem;
  div.content {
    width: 100%;
    h2.title {
      color: #7f8b96;
      font-size: $title-font;
      font-weight: 400;
    }

    div.picture {
      #picture1 {
        background-image: url(../images/service01.jpg);
      }

      #picture2 {
        background-image: url(../images/service02.jpg);
      }

      #picture3 {
        background-image: url(../images/recruit01.jpg);
      }

      #picture4 {
        background-image: url(../images/recruit02.jpg);
      }

      #picture5 {
        background-image: url(../images/company-bg.jpg);
      }
      a.picture {
        display: block;
        width: 100%;
        height: 80vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 80%;
        border-radius: 5px;
        position: relative;
        margin: 1rem 0;
        .word {
          // display: block;
          width: calc(100% - 3rem);
          // width: 90%;
          position: absolute;
          bottom: 0;
          left: 0;
          margin: 1.5rem;
          padding-bottom: 1rem;
          border-bottom: 1px solid#f8f8fa;
          h3 {
            font-size: $sevice-name-font;
            font-weight: 400;
            color: #f8f8fa;
          }

          p {
            // font-size: 13px;
            // font-weight: 400;
            color: #f8f8fa;
          }
        }

        h2.title {
          color: #f8f8fa;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

section.product {
  width: 100%;
  background-color: rgb(214, 214, 214);
  position: relative;
  img {
    width: 240px;
    height: 180px;
  }

  #product1 {
    margin-top: 50px;
  }
  #product2 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(40%);
  }
  #product3 {
    position: relative;
    left: 1rem;
    margin-bottom: 50px;
  }

  div.content {
    width: 240px;
    height: 180px;
    margin: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      color: #343436;
    }

    div.more {
      margin-top: 1.5rem;
    }
  }
}

section.blog {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  padding: 2rem 1rem;
  h3 {
    text-align: center;
  }
  p.small.sub.title {
    text-align: center;
  }
  div.wrap {
    width: 100%;
    div.content {
      margin-bottom: 1.5rem;
      a.wrap {
        width: 100%;
        display: flex;
        text-decoration: none;
        // padding: 1rem;
        align-items: center;

        div.picture {
          img {
            width: 100px;
            height: 80px;
          }
        }

        div.word {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0.8rem;

          p.name {
            color: black;
            font-weight: 400;
            margin-bottom: 10px;
          }

          .date {
            color: #000;
            font-size: 10px;
          }
        }
      }
    }
  }
}

section.contact {
  width: 100%;
  background-image: url(../images/contact-bg.jpg);
  background-size: cover;
  background-position: center center;
  div.cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.373);
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    justify-content: center;
    align-items: center;
    h2 {
      color: #f8f8fa;
      margin-bottom: 1.5rem;
    }

    p {
      text-align: center;
      margin-bottom: 1rem;
    }

    a {
      text-decoration: none;
      color: #f8f8fa;
      span {
        font-size: 20px;
      }
    }

    div.more {
      a {
        border-color: #e8e8e8;
      }
    }
  }
}

h2.title {
  color: #7f8b96;
  font-size: $title-font;
  font-weight: 400;
}

p {
  font-size: 13px;
  font-weight: 300;
  color: #f8f8fa;
}

div.more {
  a {
    display: inline-block;
    color: #343436;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 10px 24px;
    // margin-top: 1.5rem;

    i {
      font-size: 10px;
      margin-left: 2rem;
    }
  }
}

h3.small-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
}

p.small-sub-title {
  font-size: 13px;
  color: black;
  font-weight: 500;
}
