* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.7px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
  position: absolute;
  position: fixed;
  top: 0;
  z-index: 10;
}
header a.left svg {
  width: 90px;
  height: 16px;
}
header div.icon {
  display: flex;
  justify-content: center;
}
header div.icon ul {
  display: none;
  align-items: center;
  list-style: none;
}
header div.icon ul li {
  display: block;
  width: 150px;
  height: 20px;
  overflow: hidden;
}
header div.icon ul li a {
  color: #343436;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
  vertical-align: middle;
}
header div.icon ul li:hover a {
  transform: translateY(-50%);
}
header div.icon div.more {
  display: none;
}
header div.icon div.more a {
  display: inline-block;
  color: #343436;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  border: 1px solid rgb(92, 92, 92);
  border-radius: 4px;
  padding: 12px 24px;
  vertical-align: middle;
  transition: all 0.1s ease-in;
}
header div.icon div.more a i {
  font-size: 10px;
  margin-left: 0rem;
}
header div.icon div.more a:hover {
  background-color: #292929;
  color: #e8e8e8;
}
header div.icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
}
header div.icon a i {
  font-size: 20px;
  font-weight: 600;
  padding-left: 2rem;
}
header div.icon i.fa-instagram {
  font-weight: 300;
}

div.main {
  width: 100%;
  height: 100vh;
  display: flex;
}
div.main div.left {
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 5;
}
div.main div.left h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 0 1.5rem;
  white-space: nowrap;
  position: absolute;
  top: 45%;
}
div.main div.right {
  width: 80%;
  height: 100%;
  background: url(../images/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: absolute;
  right: 0;
  z-index: 2;
}

div.news {
  width: 100%;
  height: 60%;
  background-color: rgb(229, 229, 229);
  position: relative;
  padding: 1.5rem;
  padding-top: 8rem;
  margin-top: -4rem;
}
div.news div.news-column .news-link {
  padding: 1.5rem 0rem;
  border-bottom: 1px solid #343436;
}
div.news div.news-column .news-link p {
  font-size: 13px;
  color: #7f8b96;
}
div.news div.news-column .news-link a {
  font-size: 13px;
  font-weight: 200;
  color: #000000;
  text-decoration: none;
}
div.news div.more {
  margin-top: 1.5rem;
}

@media screen and (min-width: 576px) {
  div.news {
    padding: 4rem 6rem;
    padding-top: 8rem;
  }
}
section.about {
  background-color: #292929;
  padding: 3rem 1rem;
}
section.about div.content h2 {
  color: #f8f8fa;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 2rem;
}
section.about div.content h3 {
  color: #f8f8fa;
  font-size: 24px;
  margin: -5px;
  font-weight: 500;
}
section.about div.content h4 {
  color: #f8f8fa;
  font-size: 16px;
  margin-bottom: 1rem;
  font-weight: 500;
}
section.about div.content p {
  color: #f8f8fa;
}
section.about div.content div.more a {
  color: #f8f8fa;
  background-color: transparent;
  border-color: #f8f8fa;
  margin-top: 1.5rem;
}
section.about div.content div.more a:hover {
  color: #292929;
  background-color: #e8e8e8;
}

section.service {
  width: 100%;
  background-color: white;
  padding: 1rem;
}
section.service div.content {
  width: 100%;
}
section.service div.content h2.title {
  color: #7f8b96;
  font-size: 32px;
  font-weight: 400;
}
section.service div.content div.picture #picture1 {
  background-image: url(../images/service01.jpg);
}
section.service div.content div.picture #picture2 {
  background-image: url(../images/service02.jpg);
}
section.service div.content div.picture #picture3 {
  background-image: url(../images/recruit01.jpg);
}
section.service div.content div.picture #picture4 {
  background-image: url(../images/recruit02.jpg);
}
section.service div.content div.picture #picture5 {
  background-image: url(../images/company-bg.jpg);
  background-size: cover;
}
section.service div.content div.picture a.picture {
  display: block;
  width: 100%;
  height: 80vw;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px;
  position: relative;
  margin: 1rem 0;
  transition: all 0.2s ease-in;
}
section.service div.content div.picture a.picture:hover {
  background-size: 105%;
}
section.service div.content div.picture a.picture .word {
  width: calc(100% - 3rem);
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f8f8fa;
}
section.service div.content div.picture a.picture .word h3 {
  font-size: 22px;
  font-weight: 400;
  color: #f8f8fa;
}
section.service div.content div.picture a.picture .word p {
  color: #f8f8fa;
}
section.service div.content div.picture a.picture h2.title {
  color: #f8f8fa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.reverse div.picture #picture1 {
  background-image: url(../images/service01.jpg);
}
section.reverse div.picture #picture2 {
  background-image: url(../images/service02.jpg);
}
section.reverse div.picture #picture3 {
  background-image: url(../images/recruit01.jpg);
}
section.reverse div.picture #picture4 {
  background-image: url(../images/recruit02.jpg);
}
section.reverse div.picture #picture5 {
  background-image: url(../images/company-bg.jpg);
  background-size: cover;
}
section.reverse div.picture a.picture {
  display: block;
  width: 100%;
  height: 40vw;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px;
  position: relative;
  margin: 1rem 0;
  transition: all 0.2s ease-in;
}
section.reverse div.picture a.picture:hover {
  background-size: 105%;
}
section.reverse div.picture a.picture .word {
  width: calc(100% - 3rem);
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f8f8fa;
}
section.reverse div.picture a.picture .word h3 {
  font-size: 22px;
  font-weight: 400;
  color: #f8f8fa;
}
section.reverse div.picture a.picture .word p {
  color: #f8f8fa;
}
section.reverse div.picture a.picture h2.title {
  color: #f8f8fa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.product {
  width: 100%;
  background-color: rgb(214, 214, 214);
  position: relative;
  padding: 50px 0;
}
section.product img {
  width: 240px;
  height: 180px;
  border-radius: 5px;
}
section.product #product1 {
  display: block;
}
section.product #product2 {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(40%);
}
section.product #product3 {
  display: block;
  position: relative;
  left: 1rem;
}
section.product div.content {
  width: 240px;
  height: 180px;
  margin: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.product div.content p {
  color: #343436;
}
section.product div.content div.more {
  margin-top: 1.5rem;
}

@media screen and (min-width: 576px) {
  section.product {
    padding: 4rem;
  }
  section.product img {
    width: 300px;
    height: 180px;
  }
  section.product #product1 {
    transform: translateX(-4rem);
  }
  section.product #product2 {
    transform: translateY(-50%);
  }
  section.product #product3 {
    left: 0;
  }
  section.product div.content {
    margin: 3rem 0;
  }
  section.product div.content h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 990px) {
  section.product {
    padding: 4rem 10%;
  }
  section.product img {
    width: 480px;
    height: 300px;
  }
  section.product #product1 {
    transform: translateX(-50%);
  }
  section.product div.content h2 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  section.product #product1 {
    transform: translateX(-30%);
  }
  section.product div.content {
    margin: 6rem 0;
  }
}
section.blog {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  padding: 2rem 1rem;
}
section.blog h3 {
  text-align: center;
}
section.blog p.small.sub.title {
  text-align: center;
}
section.blog div.wrap {
  width: 100%;
}
section.blog div.wrap div.content a.wrap {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 0.75rem 1rem;
  margin: 0 -1rem;
  transition: all 0.2s ease;
}
section.blog div.wrap div.content a.wrap:hover {
  background-color: rgb(210, 210, 210);
}
section.blog div.wrap div.content a.wrap div.picture img {
  width: 100px;
  height: 80px;
  border-radius: 5px;
  display: block;
}
section.blog div.wrap div.content a.wrap div.word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.8rem;
}
section.blog div.wrap div.content a.wrap div.word p.name {
  color: black;
  font-weight: 400;
  margin-bottom: 10px;
}
section.blog div.wrap div.content a.wrap div.word .date {
  color: #000;
  font-size: 10px;
}

@media screen and (min-width: 576px) {
  section.blog {
    padding: 4rem;
  }
  section.blog div.wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  section.blog div.wrap div.content {
    width: 50%;
    padding: 1rem;
  }
  section.blog div.wrap div.content a.wrap {
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  section.blog div.wrap div.content a.wrap div.picture {
    width: 100%;
  }
  section.blog div.wrap div.content a.wrap div.picture img {
    width: 100%;
    height: 180px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 900px) {
  section.blog div.wrap div.content {
    width: 25%;
  }
  section.blog div.wrap div.content a.wrap div.picture img {
    height: 240px;
  }
}
section.contact {
  width: 100%;
  background-image: url(../images/contact-bg.jpg);
  background-size: cover;
  background-position: center center;
}
section.contact div.cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.373);
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  justify-content: center;
  align-items: center;
}
section.contact div.cover h2 {
  color: #f8f8fa;
  margin-bottom: 1.5rem;
}
section.contact div.cover p {
  text-align: center;
  margin-bottom: 1rem;
}
section.contact div.cover a {
  text-decoration: none;
  color: #f8f8fa;
}
section.contact div.cover a span {
  font-size: 20px;
}
section.contact div.cover div.more a {
  border-color: #e8e8e8;
}
section.contact div.cover div.more:hover a {
  background-color: #e8e8e8;
  color: #292929;
}

footer {
  background-color: #343436;
  color: #e8e8e8;
}
footer .container {
  padding: 60px 20px;
}
footer .container a {
  color: #e8e8e8;
}
footer .container a svg {
  width: 120px;
  fill: #e8e8e8;
  margin-bottom: 2rem;
}
footer .container a i {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
footer .container h3 {
  font-weight: 500;
  margin-bottom: 1rem;
}
footer .container p {
  margin-bottom: 1rem;
}
footer .container p.cor {
  font-size: 0.6rem;
  letter-spacing: 1px;
}

@media screen and (min-width: 990px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer div.container p br {
    display: none;
  }
}
h2.title {
  color: #7f8b96;
  font-size: 32px;
  font-weight: 400;
}

p {
  font-size: 13px;
  font-weight: 300;
  color: #f8f8fa;
}

div.more a {
  display: inline-block;
  color: #343436;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  border: 1px solid rgb(92, 92, 92);
  border-radius: 4px;
  padding: 12px 24px;
  vertical-align: middle;
  transition: all 0.1s ease-in;
}
div.more a i {
  font-size: 10px;
  margin-left: 2rem;
}

div.more a:hover {
  background-color: #000000;
  color: #e8e8e8;
}

h3.small-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
}

p.small-sub-title {
  font-size: 13px;
  color: black;
  font-weight: 500;
}

@media screen and (min-width: 576px) {
  div.main div.left h2 {
    left: 10%;
  }
  div.news {
    width: auto;
    margin-right: 20%;
    margin-bottom: 50px;
  }
  section.about {
    padding: 6rem 4rem;
  }
  section.about div.content h2 {
    font-size: 3rem;
  }
  section.service {
    padding: 4rem;
    display: flex;
  }
  section.service div.content {
    display: flex;
    justify-content: space-around;
  }
  section.service div.content div.left {
    width: 45%;
  }
  section.service div.content div.left h2 {
    font-size: 3rem;
  }
  section.service div.content div.left div.picture a.picture {
    height: 350px;
  }
  section.service div.content div.right {
    width: 45%;
  }
  section.service div.content div.right div.picture a.picture {
    height: 350px;
  }
  section.reverse {
    display: flex;
    flex-direction: column;
  }
  section.reverse div.content {
    flex-direction: row-reverse;
  }
  #picture5 {
    height: 250px;
  }
}
@media screen and (min-width: 990px) {
  header div.icon ul {
    display: flex;
  }
  header div.icon div.more {
    display: flex;
  }
  header a i.fa-bars {
    display: none;
  }
  section.about div.content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.about div.content h2 {
    width: 35%;
  }
  section.about div.content div.sub-title-container {
    width: 35%;
  }
  section.about div.content div.sub-title-container h3 {
    font-size: 32px;
  }
  section.service {
    padding: 4rem 10%;
  }
  section.service div.content div.left h2 {
    margin-bottom: 3rem;
    font-size: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  div.news {
    margin-bottom: 100px;
  }
  section.about {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.about div.content h2 {
    font-size: 4rem;
  }
}/*# sourceMappingURL=style.css.map */