$title-font: 32px;
$sevice-name-font: 22px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.7px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
  position: absolute;
  position: fixed;
  top: 0;
  z-index: 10;
  a.left {
    svg {
      width: 90px;
      height: 16px;
    }
  }

  div.icon {
    display: flex;
    justify-content: center;

    ul {
      display: none;
      align-items: center;
      list-style: none;
      li {
        display: block;
        width: 150px;
        height: 20px;
        overflow: hidden;
        a {
          color: #343436;
          font-size: 14px;
          text-align: center;
          text-decoration: none;
          transition: all 0.2s;
          vertical-align: middle;
        }
        &:hover {
          a {
            transform: translateY(-50%);
          }
        }
      }
    }

    div.more {
      display: none;
      a {
        display: inline-block;
        color: #343436;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
        text-decoration: none;
        border: 1px solid rgb(92, 92, 92);
        border-radius: 4px;
        padding: 12px 24px;
        vertical-align: middle;
        transition: all 0.1s ease-in;
        i {
          font-size: 10px;
          margin-left: 0rem;
        }
        &:hover {
          background-color: #292929;
          color: #e8e8e8;
        }
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000;
      text-decoration: none;
      i {
        font-size: 20px;
        font-weight: 600;
        padding-left: 2rem;
      }
    }

    i.fa-instagram {
      font-weight: 300;
    }
  }
}

div.main {
  width: 100%;
  height: 100vh;
  display: flex;
  div.left {
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 5;
    h2 {
      font-size: 24px;
      font-weight: 500;
      margin: 0 1.5rem;
      white-space: nowrap;
      position: absolute;
      top: 45%;
    }
  }

  div.right {
    width: 80%;
    height: 100%;
    background: url(../images/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: absolute;
    right: 0;
    z-index: 2;
  }
}

div.news {
  width: 100%;
  height: 60%;
  background-color: rgb(229, 229, 229);
  position: relative;
  padding: 1.5rem;
  padding-top: 8rem;
  margin-top: -4rem;
  div.news-column {
    .news-link {
      padding: 1.5rem 0rem;
      border-bottom: 1px solid#343436;

      p {
        font-size: 13px;
        color: #7f8b96;
      }

      a {
        font-size: 13px;
        font-weight: 200;
        color: #000000;
        text-decoration: none;
      }
    }
  }

  div.more {
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 576px) {
  div.news {
    padding: 4rem 6rem;
    padding-top: 8rem;
  }
}

section.about {
  background-color: #292929;
  padding: 3rem 1rem;
  div.content {
    h2 {
      color: #f8f8fa;
      font-size: 32px;
      font-weight: 400;
      margin-bottom: 2rem;
    }

    h3 {
      color: #f8f8fa;
      font-size: 24px;
      margin: -5px;
      font-weight: 500;
    }

    h4 {
      color: #f8f8fa;
      font-size: 16px;
      margin-bottom: 1rem;
      font-weight: 500;
    }

    p {
      color: #f8f8fa;
    }

    div.more {
      a {
        color: #f8f8fa;
        background-color: transparent;
        border-color: #f8f8fa;
        margin-top: 1.5rem;
        &:hover {
          color: #292929;
          background-color: #e8e8e8;
        }
      }
    }
  }
}

section.service {
  width: 100%;
  background-color: white;
  padding: 1rem;
  div.content {
    width: 100%;
    h2.title {
      color: #7f8b96;
      font-size: $title-font;
      font-weight: 400;
    }

    div.picture {
      #picture1 {
        background-image: url(../images/service01.jpg);
      }
      #picture2 {
        background-image: url(../images/service02.jpg);
      }
      #picture3 {
        background-image: url(../images/recruit01.jpg);
      }
      #picture4 {
        background-image: url(../images/recruit02.jpg);
      }
      #picture5 {
        background-image: url(../images/company-bg.jpg);
        background-size: cover;
      }

      a.picture {
        display: block;
        width: 100%;
        height: 80vw;
        // background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 5px;
        position: relative;
        margin: 1rem 0;
        transition: all 0.2s ease-in;
        &:hover {
          background-size: 105%;
        }
        .word {
          // display: block;
          width: calc(100% - 3rem);
          // width: 90%;
          position: absolute;
          bottom: 0;
          left: 0;
          margin: 1.5rem;
          padding-bottom: 1rem;
          border-bottom: 1px solid#f8f8fa;
          h3 {
            font-size: $sevice-name-font;
            font-weight: 400;
            color: #f8f8fa;
          }

          p {
            // font-size: 13px;
            // font-weight: 400;
            color: #f8f8fa;
          }
        }

        h2.title {
          color: #f8f8fa;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

section.reverse {
  div.picture {
    #picture1 {
      background-image: url(../images/service01.jpg);
    }
    #picture2 {
      background-image: url(../images/service02.jpg);
    }
    #picture3 {
      background-image: url(../images/recruit01.jpg);
    }
    #picture4 {
      background-image: url(../images/recruit02.jpg);
    }
    #picture5 {
      background-image: url(../images/company-bg.jpg);
      background-size: cover;
    }

    a.picture {
      display: block;
      width: 100%;
      height: 40vw;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 5px;
      position: relative;
      margin: 1rem 0;
      transition: all 0.2s ease-in;
      &:hover {
        background-size: 105%;
      }
      .word {
        width: calc(100% - 3rem);
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid#f8f8fa;
        h3 {
          font-size: $sevice-name-font;
          font-weight: 400;
          color: #f8f8fa;
        }

        p {
          // font-size: 13px;
          // font-weight: 400;
          color: #f8f8fa;
        }
      }

      h2.title {
        color: #f8f8fa;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
section.product {
  width: 100%;
  background-color: rgb(214, 214, 214);
  position: relative;
  padding: 50px 0;
  img {
    width: 240px;
    height: 180px;
    border-radius: 5px;
  }

  #product1 {
    display: block;
    // margin-top: 50px;
  }
  #product2 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(40%);
  }
  #product3 {
    display: block;
    position: relative;
    left: 1rem;
    // margin-bottom: 50px;
  }

  div.content {
    width: 240px;
    height: 180px;
    margin: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      color: #343436;
    }

    div.more {
      margin-top: 1.5rem;
    }
  }
}

@media screen and (min-width: 576px) {
  section.product {
    padding: 4rem;
    img {
      width: 300px;
      height: 180px;
    }
    #product1 {
      transform: translateX(-4rem);
    }
    #product2 {
      transform: translateY(-50%);
    }
    #product3 {
      left: 0;
    }
    div.content {
      margin: 3rem 0;
      h2 {
        font-size: 3rem;
      }
    }
  }
}
@media screen and (min-width: 990px) {
  section.product {
    padding: 4rem 10%;
    img {
      width: 480px;
      height: 300px;
    }
    #product1 {
      transform: translateX(-50%);
    }
    div.content {
      h2 {
        font-size: 4rem;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  section.product {
    #product1 {
      transform: translateX(-30%);
    }
    div.content {
      margin: 6rem 0;
    }
  }
}

section.blog {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  padding: 2rem 1rem;
  h3 {
    text-align: center;
  }
  p.small.sub.title {
    text-align: center;
  }
  div.wrap {
    width: 100%;
    div.content {
      a.wrap {
        display: flex;
        text-decoration: none;
        align-items: center;
        padding: 0.75rem 1rem;
        margin: 0 -1rem;
        transition: all 0.2s ease;
        &:hover {
          background-color: rgb(210, 210, 210);
        }

        div.picture {
          img {
            width: 100px;
            height: 80px;
            border-radius: 5px;
            display: block;
          }
        }

        div.word {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0.8rem;

          p.name {
            color: black;
            font-weight: 400;
            margin-bottom: 10px;
          }

          .date {
            color: #000;
            font-size: 10px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  section.blog {
    padding: 4rem;
    div.wrap {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      div.content {
        width: 50%;
        padding: 1rem;
        a.wrap {
          width: 100%;
          margin: 0;
          padding: 0;
          flex-direction: column;
          align-items: flex-start;
          div.picture {
            width: 100%;
            img {
              width: 100%;
              height: 180px;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  section.blog {
    div.wrap {
      div.content {
        width: 25%;
        a.wrap {
          div.picture {
            img {
              height: 240px;
            }
          }
        }
      }
    }
  }
}

section.contact {
  width: 100%;
  background-image: url(../images/contact-bg.jpg);
  background-size: cover;
  background-position: center center;
  div.cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.373);
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    justify-content: center;
    align-items: center;
    h2 {
      color: #f8f8fa;
      margin-bottom: 1.5rem;
    }

    p {
      text-align: center;
      margin-bottom: 1rem;
    }

    a {
      text-decoration: none;
      color: #f8f8fa;
      span {
        font-size: 20px;
      }
    }

    div.more {
      a {
        border-color: #e8e8e8;
      }
      &:hover {
        a {
          background-color: #e8e8e8;
          color: #292929;
        }
      }
    }
  }
}

footer {
  background-color: #343436;
  color: #e8e8e8;
  .container {
    padding: 60px 20px;
    a {
      color: #e8e8e8;
      svg {
        width: 120px;
        fill: #e8e8e8;
        margin-bottom: 2rem;
      }

      i {
        font-size: 1.3rem;
        margin-bottom: 1rem;
      }
    }
    h3 {
      font-weight: 500;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 1rem;
    }

    p.cor {
      font-size: 0.6rem;
      letter-spacing: 1px;
    }
  }
}
@media screen and (min-width: 990px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div.container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        br {
          display: none;
        }
      }
    }
  }
}

h2.title {
  color: #7f8b96;
  font-size: $title-font;
  font-weight: 400;
}

p {
  font-size: 13px;
  font-weight: 300;
  color: #f8f8fa;
}

div.more {
  a {
    display: inline-block;
    color: #343436;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 4px;
    padding: 12px 24px;
    vertical-align: middle;
    transition: all 0.1s ease-in;
    i {
      font-size: 10px;
      margin-left: 2rem;
    }
  }
}

div.more a:hover {
  background-color: #000000;
  color: #e8e8e8;
}

h3.small-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
}

p.small-sub-title {
  font-size: 13px;
  color: black;
  font-weight: 500;
}

@media screen and (min-width: 576px) {
  div.main {
    div.left {
      h2 {
        left: 10%;
      }
    }
  }
  div.news {
    width: auto;
    margin-right: 20%;
    margin-bottom: 50px;
  }

  section.about {
    padding: 6rem 4rem;
    div.content {
      h2 {
        font-size: 3rem;
      }
    }
  }

  section.service {
    padding: 4rem;
    display: flex;
    div.content {
      display: flex;
      justify-content: space-around;
      div.left {
        width: 45%;
        h2 {
          font-size: 3rem;
        }
        div.picture {
          a.picture {
            // background-size: 100%;
            // background-size: cover;
            height: 350px;
          }
        }
      }
      div.right {
        width: 45%;
        div.picture {
          a.picture {
            // background-size: cover;
            height: 350px;
          }
        }
      }
    }
  }
  section.reverse {
    display: flex;
    flex-direction: column;
    div.content {
      flex-direction: row-reverse;
    }
  }

  #picture5 {
    height: 250px;
  }
}

@media screen and (min-width: 990px) {
  header {
    div.icon {
      ul {
        display: flex;
      }

      div.more {
        display: flex;
      }
    }
    a {
      i.fa-bars {
        display: none;
      }
    }
  }

  section.about {
    div.content {
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        width: 35%;
      }
      div.sub-title-container {
        width: 35%;

        h3 {
          font-size: 32px;
        }
      }
    }
  }

  section.service {
    padding: 4rem 10%;
    div.content {
      div.left {
        h2 {
          margin-bottom: 3rem;
          font-size: 4rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  div.news {
    margin-bottom: 100px;
  }

  section.about {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    div.content {
      h2 {
        font-size: 4rem;
      }
    }
  }
}
